.App {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}

#Float {
  margin: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

#Float-Title {
  font-size: 50px;
  margin: 30px;
  text-align: center;;
}

#Float-Query input {
  font-size: 25px;
  margin: 5px;
}

#Float-Query input {
  font-size: 25px;
  margin: 5px;
}