/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

* {
  padding: 0;
  margin: 0;
}

body {
  
}

#main-wrapper {
  height: 100vh;
}

#first-section {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #f7ced7; */
  background: white;
/* background: linear-gradient(45deg, rgba(247,195,215,1) 0%, rgba(255,255,255,1) 100%); */
}

#main-heading {
  color: #111111;
  font-size: 4em;
  font-family: 'ZCOOL QingKe HuangYou';
  border: 0.13em solid #111111;
  /* background-color: pink; */
  padding: 0.5em;
  /* box-shadow: 3px 5px white; */
  text-shadow: 3px 3px darkgray;
}
#main-heading:before {
  content: '';
  position: absolute;
  top: 0; right: 0;
  border-top: 80px solid white;
  border-left: 80px solid #111111;
  width: 0;
}

#second-section {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: #111111;
}

#main-input {
  margin: 1em;
  width: 60vw;
  padding: 0.25em;
  font-size: 2.5em;
  /* border: 1px solid #111111; */
  font-family: 'ZCOOL QingKe HuangYou';
  background-color: white;
  box-shadow: 3px 5px darkgray;
}

#submit-button {
  border: none;
  background: white;
  font-family: 'ZCOOL QingKe HuangYou';

  padding: 0.5em;
  font-size: 2em;
  text-transform: uppercase;
  border-radius: 0.25em;
  box-shadow: 3px 5px darkgray ;
  /* border: 1px solid #111111; */
  color: #111111;
  /* text-shadow: 3px 3px gray; */
  /* background: linear-gradient(45deg, rgba(247,195,215,1) 0%, rgba(255,255,255,1) 100%); */
}


#paperboy {
  /* width: 375px;
  height: 495px; */
  width: 125px;
  height: 93px;
  position: absolute;
  top: 1em;
  display: block;
  margin: 0 45%;
}

img {
  margin: 0;
  padding: 0;
  /* background-color: red; */
}

#sections {
  display: flex;
}

#summary-first-section {
  height: 25vh;
  width: 50vw;
  /* background-color: orange; */
  /*display: inline;*/
}

#summary-second-section {
  height: 25vh;
  width: 50vw;
  /* background-color: blue; */
  /*display: inline;*/
}

#heading-wrapper {
  /*width: 100vw;*/
  padding: 2em;
  font-family: 'ZCOOL QingKe HuangYou';
  text-shadow: 3px 3px darkgray;
  color: white;
  font-size: 2em;
  text-align: center;
  /* background-color: red; */
}

.center {
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}

#result {
  font-family: 'ZCOOL QingKe HuangYou';
  text-shadow: 3px 3px darkgrey;
  /* color: brown; */
  /* color: darkgreen; */
  font-size: 5em;
  text-transform: uppercase;
}

.real {
  color: darkgreen;
}

.fake {
  color: red;
}
#article-table {
  /* position: fixed; */
  height: 50vh;
  width: 100vw;
  bottom: 0;
  left: 0;
  background-color: white;
  border: solid 1px black;
}

#summary-page {
  background-color: #111;
  /* background-image: url('./imgs/dumpster.jpg');
  background-repeat: repeat; */
}

#claim {
  color: white;
  font-family: 'ZCOOL QingKe HuangYou';
  font-size: 2.5em;
}

#table {
  position: relative;
  bottom: 0; 


  overflow: scroll;
  width: 100vw;
  background-color: purple;
}

#main-table {
  font-family: 'ZCOOL QingKe HuangYou';
  /* height: 50vh; */
  height: 50vh;
  position: relative;
}

th {
  width: 33vw;
  padding: 0.25em;
  font-size: 2em;
}

/* td {
  padding: 1em;
} */

th {
  background-color: black;
  color: white;
}
td {
  text-align: center;
  padding: 1em;
  font-size: 2em;
  
}

